<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/index.js' %}" defer></script>
    <title>{{posts.title}}</title>
</head>
<body>
    <h1>{{posts.title}}</h1>
    <p>{{posts.date}}</p>
    <img src="{{posts.banner.url}}" alt="{{posts.title}}" style="max-width: 800px; height: auto; display:block;">
    <p style="text-align:left;">{{posts.content}}</p>
    <br>
    <a href="{% url "post:list" %}">Back to Post List</a>

</body>
</html>